.projects-text{
  width:100%;
  min-height:200px;
  text-align:center;
  padding:20px;
  background:  #fff;
  border-top:2px solid #ddd 80%;
  margin-top:5px;
  }

.projects-button{
  width:100%;
  height:auto;
  padding:20px;
  
}

// Projects 

.projects{min-height:200px; background:#f2f2f2}