.projects-text{
  width:100%;
  min-height:200px;
  text-align:center;
  padding:20px;
  background:  #fff;
  border-top:2px solid #ddd 80%;
  }

.projects-button{
  width:100%;
  height:auto;
  padding:20px;
  background:#fff;
  
}

.drop-shadow{box-shadow: 0px 0px 5px 0px rgba(85,85,85,0.75);}

// Projects 

.projects{min-height:200px; background:#f2f2f2}