//- includes/aboutme.pug
article
  h2
    span About Me
.container-800
  .grid.grid--gutters.grid--full.gridmd--full.gridlg--1of2.gridxl--1of2
    .cell(data-aos='fade-right')
      h3
        | Hello, I’m Tom,
        | A full stack web developer based in Prague, I create digital products and make them accessible and functional.
    .cell(data-aos='fade-left')
      p
        | From the start to the end of the project I will communicate and work with you to bring your ideas to life
