//- includes/build.pug
article
    h2
        span We build great sites
.grid.grid--gutters.grid--full.gridmd--full.gridlg--1of3.gridxl--1of3
    .cell(data-aos='fade-right')
        .grid.grid--gutters.grid--full.gridmd--full.gridlg--full.gridxl--full
            .cell.grid--center
                img.img-cell(src='images/responsive-color.png')
            .cell.grid--center
                h4 Custom Responsive Design
            .cell.grid--center
                | All of our pages will display beautifully on your phone or monitor. Quality experience across all devices. Bringing in more page visits.
    .cell(data-aos='zoom-in')
        .grid.grid--gutters.grid--full.gridmd--full.gridlg--full.gridxl--full
            .cell.grid--center
                i.fa.fa-code.fa-5x.icons-build(aria-hidden='true')
            .cell.grid--center
                h4 Using Trusted Tools
            .cell.grid--center
                | Using industry leading platforms such as Laravel, October CMS, we create fully customisable and flexible websites that are easily manageable
    .cell(data-aos='fade-left')
        .grid.grid--gutters.grid--full.gridmd--full.gridlg--full.gridxl--full
            .cell.grid--center
                i.fa.fa-cogs.fa-5x.icons-build(aria-hidden='true')
            .cell.grid--center
                h4 Skills
            .cell
                .grid.grid--full.gridmd--full.gridlg--full.gridxl--full
                    // bar 1
                    .cell
                        .grid.grid--full.gridmd--full.gridlg--full.gridxl--1of2
                            .cell
                                h5 HTML
                            .cell.grid--center
                                h5 75%
                    .cell.margin-b-20
                        .skills-bar-wrap
                            #skill-html
                    // bar 2
                    .cell
                        .grid.grid--full.gridmd--full.gridlg--full.gridxl--1of2
                            .cell
                                h5 CSS
                            .cell.grid--center
                                h5 75%
                    .cell.margin-b-20
                        .skills-bar-wrap
                            #skill-css
                    // bar 3
                    .cell
                        .grid.grid--full.gridmd--full.gridlg--full.gridxl--1of2
                            .cell
                                h5 Javascript
                            .cell.grid--center
                                h5 10%
                    .cell.margin-b-20
                        .skills-bar-wrap
                            #skill-js
                    // bar 4
                    .cell
                        .grid.grid--full.gridmd--full.gridlg--full.gridxl--1of2
                            .cell
                                h5 PHP
                            .cell.grid--center
                                h5 10%
                    .cell.margin-b-20
                        .skills-bar-wrap
                            #skill-php
