//- includes/nav.pug
header.main_h
  .row
    a.logo(href='index.php')
      img(src='images/logo.png')
    .mobile-toggle
      span
      span
      span
    nav
      ul
        li
          a(href='#sec01') SKILLS
        li
          a(href='#sec02') PROJECTS
        li
          a(href='#sec03') CONTACT
  // / row