//- includes/skillicons.pug
br
br
.grid.grid--1of2.gridmd--1of4.gridlg--1of6.gridxl--1of12
    .cell.skills(data-aos='flip-left')
        i.devicon-html5-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-amazonwebservices-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-wordpress-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-github-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-laravel-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-mysql-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-css3-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-javascript-plain.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-jquery-plain-wordmark.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-php-plain.colored.icons
    .cell.skills(data-aos='flip-left')
        i.devicon-sass-original.colored.icons
    .cell.skills(data-aos='flip-left')
        img.img-full(src='images/icons/octobercms.svg', alt='octobercms')
// tech skills end grid