//- includes/tools.pug
article
    h2
        span Design Process
.grid.grid--gutterslg.grid--full.gridmd--1of2.gridlg--1of2.gridxl--1of2
    .cell(data-aos='fade-right')
        img.img-border(src='images/plugins.gif')
    .cell
        div(data-aos='fade-left')
            h4 We assist you in every step to create and launch your website.
        .spacer
        div(data-aos='fade-left')
            p
                | Using industry leading platforms such as Laravel, October CMS, we can rapidly prototype and build your website.
        .spacer
        .grid.grid--gutterslg.grid--full.gridmd--full.gridlg--full.gridxl--full
            .icon-wrap(data-aos='fade-left')
                .icon-initial
                    i.fa.fa-chevron-circle-right.fa-2x(aria-hidden='true')
                .icon-text
                    | We work with the leading cloud service providers such as amazon web services and digital ocean to provide you with fast and affordable hosting.
            .icon-wrap(data-aos='fade-left')
                .icon-initial
                    i.fa.fa-chevron-circle-right.fa-2x(aria-hidden='true')
                .icon-text
                    | We will create a wire frame for your site design and work on the page layout and features
            .icon-wrap(data-aos='fade-left')
                .icon-initial
                    i.fa.fa-chevron-circle-right.fa-2x(aria-hidden='true')
                .icon-text
                    | We put a focus on the ux design and ensure the site is as user friendly as possible
            .icon-wrap(data-aos='fade-left')
                .icon-initial
                    i.fa.fa-chevron-circle-right.fa-2x(aria-hidden='true')
                .icon-text
                    | Using the latest trends in web development we can ensure your site is super fast and responsive.


